@import "tailwindcss";
@font-face {
  font-family: 'MedievalSharp';
  src: url('./assets/fonts/MedievalSharp-Regular.ttf') format('truetype');
}

@theme {
  --font-medieval: 'MedievalSharp', sans-serif;
}